<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons>
        <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
        <ion-back-button style="color:white;"></ion-back-button>
        <img src="assets/img/bff.png" height="10%" width="10%">
        <ion-title id="title" style="color:white;">Contact</ion-title>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <br>
             <!-- <span style="color: dodgerblue;">
                For any kind of enquiry,:
            </span> -->
            <br>
            </ion-item>
        <ion-item>
            For any kind of enquiry, 
            <br>
            mail us at:<br><br>
            bhutanfootball@gmail.com<br><br>
        </ion-item>
    </ion-list>
</ion-content>
